:host{
  padding: 0;
  margin: 0;
}

:host main{
  display: flex;
  flex: 1;
  padding: 0;
  margin: 0;
}

:host main .header {
  display: flex;
  flex-basis: 200px;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
:host main .right-part{
  background-color: lavender;
}
:host main div h1{
  color: white;
}

.todos-list {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.todo-wrapper {
  display: flex;
  flex: 1;
}

.form__container {
  height: 100px;
  padding: 0 0 15px 0;
  margin: 0 0 15px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right-part{
  display: flex;
  flex-direction: row;
  flex: 1;
}
