:host{
  padding: 0;
  margin: 0;
}
:host main{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

:host main .header {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
:host main .right-part{
  background-color: lavender;
}
:host main div h1{
  color: white;
}

.form__container {
  width: 100%;
  height: 100px;
  padding: 0 0 15px 0;
  margin: 0 0 15px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right-part{
  display: flex;
  flex-direction: row;
}
